/*------------------------------------------------------------
  -                        SIZE                              -
  ------------------------------------------------------------ */

/*------------------------------------------------------------
  -                        POSITION                          -
  ------------------------------------------------------------ */
.t-center {
  text-align: center;
}
.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
.t-justify {
  text-align: justify;
}
/*------------------------------------------------------------
  -                        STYLE                             -
  ------------------------------------------------------------ */
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
/*------------------------------------------------------------
  -                        COLOR                             -
  ------------------------------------------------------------ */
.t-white {
  color: white;
}
/*------------------------------------------------------------
  -                        LETTERS                           -
  ------------------------------------------------------------ */
.uppercase {
  text-transform: uppercase;
}